*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
*.jar
*.class
.idea
Dockerfile
.git
ping-deploy.yaml
ping-deploy
Jenkinsfile